.button__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button__label-checkbox {
  display: flex;
  align-items: center;
}
.button__input {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  margin-right: 12px;
}
.button__fieldset {
  height: 60px;
  width: 100%;
  margin: 32px 0;
  border-radius: 4px;
  border: none;
  background-color: #2f80ed;
  color: white;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
