.header {
  background-color: #ffffff;
  background-image: url(/images/background_header.svg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  box-sizing: border-box;
}

.header__title {
  margin: 183px 0 28px 80px;
  max-width: 729px;
  z-index: 1;
  font-family: "Inter", Arial, sans-serif;

  font-style: normal;

  font-weight: 500;

  font-size: 60px;

  line-height: 72px;

  letter-spacing: -0.6px;
}
.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;

  font-style: italic;

  font-weight: normal;

  font-size: 60px;

  line-height: 72px;

  color: #2f80ed;
}
.header__description {
  max-width: 683px;
  z-index: 1;
  margin-left: 80px;
  font-family: "Noto Serif", "Times New Roman", serif;

  font-style: normal;

  font-weight: normal;

  font-size: 20px;

  line-height: 30px;
}
.header__image {
  position: absolute;
  height: 568px;
  width: 646px;
  top: 124px;
  right: 5px;
  z-index: 0;
}
.header__footer {
  z-index: 1;
  border: none;
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0px 80px 40px;
}
.header__paragraph {
  display: flex;
  margin: 0;
}
.header__paragraph:last-of-type {
  margin-right: 80px;
}
