.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}
.header {
  background-color: #ffffff;
  background-image: url(/images/background_header.svg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  box-sizing: border-box;
}
.nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 105px;
  height: 39px;
}
.nav__logo {
  top: 30px;
  left: 30px;
  position: relative;
}

.nav__links {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  margin-right: 80px;
  margin-top: 30px;
}
.nav__link {
  color: #000000;
  text-decoration: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.header__title {
  margin: 183px 0 28px 80px;
  max-width: 729px;
  z-index: 1;
  font-family: "Inter", Arial, sans-serif;

  font-style: normal;

  font-weight: 500;

  font-size: 60px;

  line-height: 72px;

  letter-spacing: -0.6px;
}
.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;

  font-style: italic;

  font-weight: normal;

  font-size: 60px;

  line-height: 72px;

  color: #2f80ed;
}
.header__description {
  max-width: 683px;
  z-index: 1;
  margin-left: 80px;
  font-family: "Noto Serif", "Times New Roman", serif;

  font-style: normal;

  font-weight: normal;

  font-size: 20px;

  line-height: 30px;
}
.header__image {
  position: absolute;
  height: 568px;
  width: 646px;
  top: 124px;
  right: 5px;
  z-index: 0;
}
.header__footer {
  z-index: 1;
  border: none;
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0px 80px 40px;
}
.header__paragraph {
  display: flex;
  margin: 0;
}
.header__paragraph:last-of-type {
  margin-right: 80px;
}
.recipes {
  position: relative;
  background-color: #0a2750;
  background-image: url(/images/background_recipes.svg);
  background-position: center;
  background-size: cover;
  color: white;
  padding-top: 1px;
  display: flex;
  flex-direction: column;
}
.recipes__title {
  margin: 100px 0 0 80px;
  max-width: 580px;
  font-family: "Inter";

  font-style: normal;

  font-weight: 500;

  font-size: 44px;

  line-height: 52px;
}
.recipes__subtitle {
  margin: 24px 0 0 80px;
  max-width: 438px;
  font-family: "Noto Serif";

  font-style: normal;

  font-weight: normal;

  font-size: 20px;

  line-height: 30px;
}
.recipes__videos {
  margin: 80px auto 215px;
}
.recipes__iframe {
  margin-right: 40px;
  gap: 40px;
  border: 0;
}
.recipes__iframe:last-of-type {
  margin-right: 0;
}
.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.a {
  display: flex;
  gap: 40px;
}
.b {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
